@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif !important;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.css-1ytufz-MuiAvatarGroup-root {
  
    flex-direction: unset !important;
}
.custom-margin-left{
    margin-left: 20px;
}
table .bg-white {

    background-color: #d3e3fd!important;
}
table tr {

    border-color: #fff!important;
}
table th{

    border-color: #fff!important;
}
#loader {
    margin: 100px auto;
    width: 120px;
    height: 120px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite, heart-beat 2s linear infinite;
    background-color: #fff;
    text-align: center;
    line-height: 120px;
  }
  
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
  }
  
  @keyframes heart-beat {
      55% { background-color: #fff; }
      60% { background-color: #3498db; }
      65% { background-color: #fff; }
      70% { background-color: #3498db; }
      100% { background-color: #fff; }
  }